BOT_TOKEN=replace_with_botfather_token
CHANNEL_ID=@your_main_channel
CARD_NUMBER=0000 0000 0000 0000
CARD_HOLDER=Card Holder Name
CHECKS_CHANNEL_ID=@your_checks_channel
ADMIN_ID=123456789
ADMIN_USERNAME=admin_username
ADMIN_ID_2=987654321
ADMIN_USERNAME_2=second_admin_username
